In [14]:
import os
import pandas as pd
import urllib
from datetime import datetime,timedelta

In [21]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\relative_humidity'
csv = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\relative_humidity\csv.csv'

os.chdir(path)
f = open(csv,'w+')

today = datetime.now().strftime("%Y-%m-%d")
yesterday = datetime.strftime(datetime.now() - timedelta(days=1), "%Y-%m-%d")
yesterday

'2019-09-12'

In [25]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=five_minute&sids=ftc01&sdate=' + str(yesterday) + '&edate=' + str(today) + '&elems=rh',
    filename=csv)
df = pd.read_csv(csv)
f.close()
df=df.reset_index()
df.columns.values[0] = 'station'
df.columns.values[1] = 'date'
df.columns.values[2] = 'rh'
df

                  station                 date     rh
0                   ftc01  2019-09-11 00:00:00  0.740
1                   ftc01  2019-09-11 00:05:00  0.748
2                   ftc01  2019-09-11 00:10:00  0.743
3                   ftc01  2019-09-11 00:15:00  0.751
4                   ftc01  2019-09-11 00:20:00  0.751
..                    ...                  ...    ...
285                 ftc01  2019-09-11 23:45:00  0.443
286                 ftc01  2019-09-11 23:50:00  0.426
287                 ftc01  2019-09-11 23:55:00  0.423
288                 ftc01  2019-09-12 00:00:00  0.427
289  </pre></body></html>                  NaN    NaN

[290 rows x 3 columns]

In [27]:
rhmin = df['rh'].min()
print('Yesterdays minimum relative humidity at ftc01 was ' + str(rhmin))

Yesterdays minimum relative humidity at ftc01 was 0.332