In [33]:
import os
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from scipy import stats
import calendar

In [34]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison'
os.chdir(path)

In [35]:
bnv01_csv = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison\resample\min\bnv01_coop_tmincomp.csv"
orm01_csv = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison\resample\min\orm01_coop_tmincomp.csv"
rfd01_csv = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison\resample\min\rfd01_coop_tmincomp.csv"
wls01_csv = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison\resample\min\wls01_coop_tmincomp.csv"

In [36]:
bnv01 = pd.read_csv(bnv01_csv)
orm01 = pd.read_csv(orm01_csv)
rfd01 = pd.read_csv(rfd01_csv)
wls01 = pd.read_csv(wls01_csv)

In [37]:
bnv01 = bnv01.round(decimals=2)
orm01 = orm01.round(decimals=2)
rfd01 = rfd01.round(decimals=2)
wls01 = wls01.round(decimals=2)

In [38]:
bnv01['date'] = pd.to_datetime(bnv01.date)
orm01['date'] = pd.to_datetime(orm01.date)
rfd01['date'] = pd.to_datetime(rfd01.date)
wls01['date'] = pd.to_datetime(wls01.date)

In [39]:
bnv01_monthly = bnv01.groupby('month').mean().reset_index()
orm01_monthly = orm01.groupby('month').mean().reset_index()
rfd01_monthly = rfd01.groupby('month').mean().reset_index()
wls01_monthly = wls01.groupby('month').mean().reset_index()

In [40]:
bnv01_monthly['month'] = bnv01_monthly['month'].apply(lambda x: calendar.month_abbr[x])
orm01_monthly['month'] = orm01_monthly['month'].apply(lambda x: calendar.month_abbr[x])
rfd01_monthly['month'] = rfd01_monthly['month'].apply(lambda x: calendar.month_abbr[x])
wls01_monthly['month'] = wls01_monthly['month'].apply(lambda x: calendar.month_abbr[x])

In [42]:
bnv01_fig = go.Figure(data=[go.Bar()],
                     layout=go.Layout(title=go.layout.Title(text='Average Monthly Min Temp Comparison'),
                                     xaxis=go.layout.XAxis(title=go.layout.xaxis.Title(text='Month')),
                                     yaxis=go.layout.YAxis(title=go.layout.yaxis.Title(text='Temperature (°F)'))))
bnv01_fig.add_trace(
    go.Bar(x=bnv01_monthly.month,y=bnv01_monthly.tmin,text='Difference: ' + bnv01_monthly.diff,name='BNV01'))
bnv01_fig = add_trace(
    go.Bar(x=bnv01_monthly.month,y=bnv01_monthly.mint,text='Difference: ' + bnv01_monthly.diff,name='Bunea Vista 2S'))            
bnv01_fig.show()

TypeError: can only concatenate str (not "method") to str

In [32]:
bnv01_monthly

   month   Unnamed: 0       tmin       mint      diff
0    Jan  1364.833333   8.737655  10.843434 -2.105780
1    Feb  1435.877778  12.443090  14.677778 -2.234688
2    Mar  1423.709184  18.057255  22.076531 -4.019276
3    Apr  1445.387435  22.623121  27.225131 -4.602009
4    May  1494.101942  30.019650  35.004854 -4.985204
5    Jun  1540.529412  38.696724  45.264706 -6.567982
6    Jul  1562.405530  45.254047  50.456221 -5.202174
7    Aug  1581.600985  42.211755  47.699507 -5.487753
8    Sep  1634.811518  35.983061  41.942408 -5.959348
9    Oct  1501.127273  25.858695  30.304545 -4.445851
10   Nov  1484.280193  14.994913  20.743961 -5.749048
11   Dec  1540.930233   9.432069  11.995349 -2.563280