In [179]:
import os
import pandas as pd
import numpy as np
import urllib
import plotly.graph_objects as go
import calendar

In [180]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\TempComparison\resample'
os.chdir(path)
csv = path + r'\csv.csv'
f = open(csv,'w+')

In [181]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=daily&sids=bnv01' + 
    '&sdate=2010-10-12&edate=2018-12-31&elems=tmax,mxtm,tmin,mntm',filename=csv)
df = pd.read_csv(csv)
df = df.reset_index()

In [182]:
df.columns = ['station','date','tmax','mxtm','tmin','mntm']

df['tmax'] = (32 + (df.tmax * (9/5)))
df['tmin'] = (32 + (df.tmin * (9/5)))

In [183]:
df['tmax_time'] = (df.date + ' ' + df.mxtm)
df['tmin_time'] = (df.date + ' ' + df.mntm)

In [184]:
df['tmax_time'] = pd.to_datetime(df.tmax_time)
df['tmin_time'] = pd.to_datetime(df.tmin_time)

In [185]:
df['date'] = df.tmax_time.dt.date
df['date'] = pd.to_datetime(df.date)

In [186]:
tmin = ['station','tmin','tmin_time','date']
tmin_df = df[tmin]

tmax = ['station','tmax','tmax_time','date']
tmax_df = df[tmax]

In [187]:
tmax_resample = tmax_df.resample(rule='24H',label='right',on='tmax_time',base=17).max()
tmin_resample = tmin_df.resample(rule='24H',label='right',on='tmin_time',base=17).min()

In [188]:
stuff = ['tmin_time']
tmin_resample = tmin_resample.drop(stuff,axis=1)
tmin_resample = tmin_resample.reset_index()
tmin_resample = tmin_resample.drop(stuff,axis=1)

In [189]:
stuff = ['tmax_time']
tmax_resample = tmax_resample.drop(stuff,axis=1)
tmax_resample = tmax_resample.reset_index()
tmax_resample = tmax_resample.drop(stuff,axis=1)

In [190]:
tmin_resample.dtypes

station            object
tmin              float64
date       datetime64[ns]
dtype: object

In [191]:
urllib.request.urlretrieve(
    'http://data.rcc-acis.org/StnData?sid=051071&sdate=2010-10-12&edate=2018-12-31' + 
    '&elems=mint&output=csv',filename=csv)
coop_mint_df = pd.read_csv(csv)
coop_mint_df = coop_mint_df.reset_index()
coop_mint_df.columns = ['date','mint']
coop_mint_df = coop_mint_df.replace('M',np.nan,regex=True)

In [192]:
urllib.request.urlretrieve(
    'http://data.rcc-acis.org/StnData?sid=051071&sdate=2010-10-12&edate=2018-12-31' + 
    '&elems=maxt&output=csv',filename=csv)
coop_maxt_df = pd.read_csv(csv)
coop_maxt_df = coop_maxt_df.reset_index()
coop_maxt_df.columns = ['date','maxt']
coop_maxt_df = coop_maxt_df.replace('M',np.nan,regex=True)

In [193]:
tmin_comp_df = tmin_resample.merge(coop_mint_df,left_index=True,right_index=True)
tmax_comp_df = tmax_resample.merge(coop_maxt_df,left_index=True,right_index=True)

In [194]:
tmax_comp_df['maxt'] = tmax_comp_df.maxt.astype(float)
tmin_comp_df['mint'] = tmin_comp_df.mint.astype(float)

In [195]:
tmax_comp_df['diff'] = (tmax_comp_df.tmax - tmax_comp_df.maxt)
tmin_comp_df['diff'] = (tmin_comp_df.tmin - tmin_comp_df.mint)

In [196]:
stuff = ['date_y']
tmax_comp_df = tmax_comp_df.drop(stuff,axis=1)
tmin_comp_df = tmin_comp_df.drop(stuff,axis=1)

In [197]:
tmin_comp_df.columns = ['station','tmin','date','mint','diff']
tmax_comp_df.columns = ['station','tmax','date','maxt','diff']

In [198]:
tmax_comp_df = tmax_comp_df.dropna()
tmin_comp_df = tmin_comp_df.dropna()
tmin_comp_df['month'] = tmin_comp_df.date.dt.month
tmax_comp_df['month'] = tmax_comp_df.date.dt.month
tmin_comp_df['month'] = tmin_comp_df.month.astype(int)
tmax_comp_df['month'] = tmax_comp_df.month.astype(int)

In [199]:
tmin_comp_df.to_csv(path + r'\min\bnv01_coop_tmincomp.csv')
tmax_comp_df.to_csv(path + r'\max\bnv01_coop_tmaxcomp.csv')

In [22]:
tmin_comp_df['month'] = tmin_comp_df['month'].apply(lambda x: calendar.month_abbr[x])
tmax_comp_df['month'] = tmax_comp_df['month'].apply(lambda x: calendar.month_abbr[x])

In [24]:
tmax_comp_df

     station     tmax       date  maxt     diff month
0      rfd01  85.3520 1992-06-05  84.0   1.3520   Jun
1      rfd01  76.2800 1992-06-06  77.0  -0.7200   Jun
3      rfd01  84.9560 1992-06-08  83.0   1.9560   Jun
5      rfd01  80.6360 1992-06-10  80.0   0.6360   Jun
6      rfd01  77.9180 1992-06-11  79.0  -1.0820   Jun
...      ...      ...        ...   ...      ...   ...
9701   rfd01  38.0048 2018-12-27  42.0  -3.9952   Dec
9702   rfd01  30.2504 2018-12-28  33.0  -2.7496   Dec
9703   rfd01  38.6492 2018-12-29  36.0   2.6492   Dec
9704   rfd01  59.1800 2018-12-30  58.0   1.1800   Dec
9705   rfd01  33.6956 2018-12-31  55.0 -21.3044   Dec

[9027 rows x 6 columns]

In [18]:
tmax_fig = go.Figure(data=[go.Bar()],
                    layout=go.Layout(title=go.layout.Title(text='Average Monthly Max Temp Comparison'),
                                    xaxis=go.layout.XAxis(title=go.layout.xaxis.Title(text='Month')),
                                    yaxis=go.layout.YAxis(title=go.layout.yaxis.Title(text='Temperature (°F)'))))
tmax_fig.add_trace(
    go.Bar(x=monthly.month,y=monthly.tmax,text=monthly.tmax_diff,name='RFD01'))

tmax_fig.add_trace(
    go.Bar(x=monthly.month,y=monthly.maxt,text=monthly.tmax_diff,name='Rocky Ford 2 ESE'))

tmax_fig.show()

AttributeError: 'DataFrame' object has no attribute 'tmax_diff'

In [19]:
df

,station,date,tmax,mxtm,tmin,mntm,tmax_time,tmin_time,month
0,rfd01,1992-06-04,76.2620,18:41:00,52.8980,01:24:00,1992-06-04 18:41:00,1992-06-04 01:24:00,6.0
1,rfd01,1992-06-05,85.3520,14:24:00,53.8880,05:40:00,1992-06-05 14:24:00,1992-06-05 05:40:00,6.0
2,rfd01,1992-06-06,76.2800,15:27:00,47.0840,05:34:00,1992-06-06 15:27:00,1992-06-06 05:34:00,6.0
3,rfd01,1992-06-07,84.9560,17:21:00,52.7900,06:22:00,1992-06-07 17:21:00,1992-06-07 06:22:00,6.0
4,rfd01,1992-06-08,76.4240,15:03:00,54.2300,02:57:00,1992-06-08 15:03:00,1992-06-08 02:57:00,6.0
5,rfd01,1992-06-09,68.5220,17:36:00,51.4040,00:00:00,1992-06-09 17:36:00,1992-06-09 00:00:00,6.0
6,rfd01,1992-06-10,80.6360,16:46:00,46.2200,05:21:00,1992-06-10 16:46:00,1992-06-10 05:21:00,6.0
7,rfd01,1992-06-11,77.9180,15:00:00,53.0420,18:18:00,1992-06-11 15:00:00,1992-06-11 18:18:00,6.0
8,rfd01,1992-06-12,80.7440,16:53:00,51.4220,05:43:00,1992-06-12 16:53:00,1992-06-12 05:43:00,6.0
9,rfd01,1992-06-13,88.6820,17:02:00,56.9480,04:11:00,1992-06-13 17:02:00,1992-06-13 04:11:00,6.0
10,rfd01,1992-06-14,82.5800,16:51:00,56.3720,02:38:00,1992-06-14 16:51:00,1992-06-14 02:38:00,6.0
11,rfd01,1992-06-15,87.2780,15:56:00,56.4080,01:11:00,1992-06-15 15:56:00,1992-06-15 01:11:00,6.0
12,rfd01,1992-06-16,87.3140,13:55:00,47.2640,05:50:00,1992-06-16 13:55:00,1992-06-16 05:50:00,6.0
13,rfd01,1992-06-17,84.3980,15:24:00,48.0560,05:30:00,1992-06-17 15:24:00,1992-06-17 05:30:00,6.0
14,rfd01,1992-06-18,86.3420,17:18:00,51.6380,05:00:00,1992-06-18 17:18:00,1992-06-18 05:00:00,6.0
15,rfd01,1992-06-19,83.5880,11:32:00,59.1260,05:39:00,1992-06-19 11:32:00,1992-06-19 05:39:00,6.0
16,rfd01,1992-06-20,79.3940,13:25:00,58.8920,02:15:00,1992-06-20 13:25:00,1992-06-20 02:15:00,6.0
17,rfd01,1992-06-21,82.9940,15:55:00,58.1000,04:22:00,1992-06-21 15:55:00,1992-06-21 04:22:00,6.0
18,rfd01,1992-06-22,90.7700,16:51:00,50.7560,05:42:00,1992-06-22 16:51:00,1992-06-22 05:42:00,6.0
19,rfd01,1992-06-23,87.7100,16:43:00,58.2800,05:56:00,1992-06-23 16:43:00,1992-06-23 05:56:00,6.0
20,rfd01,1992-06-24,92.6600,16:34:00,62.2940,04:25:00,1992-06-24 16:34:00,1992-06-24 04:25:00,6.0
21,rfd01,1992-06-25,80.7260,15:10:00,57.9920,05:46:00,1992-06-25 15:10:00,1992-06-25 05:46:00,6.0
22,rfd01,1992-06-26,81.3200,15:23:00,57.6500,05:36:00,1992-06-26 15:23:00,1992-06-26 05:36:00,6.0
23,rfd01,1992-06-27,80.6180,13:50:00,57.8480,05:39:00,1992-06-27 13:50:00,1992-06-27 05:39:00,6.0
24,rfd01,1992-06-28,88.5200,15:47:00,55.5800,05:10:00,1992-06-28 15:47:00,1992-06-28 05:10:00,6.0
25,rfd01,1992-06-29,84.0200,16:51:00,56.2100,05:50:00,1992-06-29 16:51:00,1992-06-29 05:50:00,6.0
26,rfd01,1992-06-30,92.5520,16:43:00,57.1640,05:50:00,1992-06-30 16:43:00,1992-06-30 05:50:00,6.0
27,rfd01,1992-07-01,90.4280,17:58:00,57.3080,05:44:00,1992-07-01 17:58:00,1992-07-01 05:44:00,7.0
28,rfd01,1992-07-02,77.0900,15:11:00,58.6220,23:59:00,1992-07-02 15:11:00,1992-07-02 23:59:00,7.0
29,rfd01,1992-07-03,83.5340,15:23:00,53.6360,04:29:00,1992-07-03 15:23:00,1992-07-03 04:29:00,7.0
...,...,...,...,...,...,...,...,...,...
9304,rfd01,2018-12-03,41.4248,13:26:40,14.3600,23:58:40,2018-12-03 13:26:40,2018-12-03 23:58:40,12.0
9305,rfd01,2018-12-04,43.4354,14:55:10,10.7780,05:18:00,2018-12-04 14:55:10,2018-12-04 05:18:00,12.0
9306,rfd01,2018-12-05,55.3640,15:12:30,6.7640,03:50:00,2018-12-05 15:12:30,2018-12-05 03:50:00,12.0
9307,rfd01,2018-12-06,31.4600,14:21:40,11.6420,05:28:40,2018-12-06 14:21:40,2018-12-06 05:28:40,12.0
9308,rfd01,2018-12-07,45.0806,14:04:00,15.2240,00:45:00,2018-12-07 14:04:00,2018-12-07 00:45:00,12.0
9309,rfd01,2018-12-08,44.2274,14:33:00,10.4720,05:40:30,2018-12-08 14:33:00,2018-12-08 05:40:30,12.0
9310,rfd01,2018-12-09,49.7300,14:40:00,11.7500,06:59:50,2018-12-09 14:40:00,2018-12-09 06:59:50,12.0
9311,rfd01,2018-12-10,57.5420,14:44:00,5.8460,06:46:40,2018-12-10 14:44:00,2018-12-10 06:46:40,12.0
9312,rfd01,2018-12-11,60.3140,13:43:30,16.8620,02:22:00,2018-12-11 13:43:30,2018-12-11 02:22:00,12.0
9313,rfd01,2018-12-12,65.5880,14:18:50,11.3360,06:25:00,2018-12-12 14:18:50,2018-12-12 06:25:00,12.0
9314,rfd01,2018-12-13,45.0806,13:48:40,11.7500,23:51:40,2018-12-13 13:48:40,2018-12-13 23:51:40,12.0
9315,rfd01,2018-12-14,56.8580,14:04:30,9.3740,06:52:00,2018-12-14 14:04:30,2018-12-14 06:52:00,12.0
9316,rfd01,2018-12-15,56.2640,15:31:50,14.0180,03:02:00,2018-12-15 15:31:50,2018-12-15 03:02:00,12.0
9317,rfd01,2018-12-16,62.3840,14:24:30,15.0980,05:13:20,2018-12-16 14:24:30,2018-12-16 05:13:20,12.0
9318,rfd01,2018-12-17,59.8820,14:09:50,14.3060,06:17:10,2018-12-17 14:09:50,2018-12-17 06:17:10,12.0
9319,rfd01,2018-12-18,61.4660,14:36:00,21.9668,23:15:20,2018-12-18 14:36:00,2018-12-18 23:15:20,12.0
9320,rfd01,2018-12-19,59.4320,11:51:10,18.1274,01:46:10,2018-12-19 11:51:10,2018-12-19 01:46:10,12.0
9321,rfd01,2018-12-20,52.5200,15:13:40,14.5940,06:46:10,2018-12-20 15:13:40,2018-12-20 06:46:10,12.0
9322,rfd01,2018-12-21,69.1340,14:03:50,10.7240,03:25:10,2018-12-21 14:03:50,2018-12-21 03:25:10,12.0
9323,rfd01,2018-12-22,47.7320,14:09:10,14.3060,06:47:10,2018-12-22 14:09:10,2018-12-22 06:47:10,12.0
9324,rfd01,2018-12-23,36.5810,15:06:10,16.3580,05:50:20,2018-12-23 15:06:10,2018-12-23 05:50:20,12.0
9325,rfd01,2018-12-24,51.6560,14:05:20,16.1960,23:45:00,2018-12-24 14:05:20,2018-12-24 23:45:00,12.0
9326,rfd01,2018-12-25,54.0860,14:40:50,16.0700,00:56:20,2018-12-25 14:40:50,2018-12-25 00:56:20,12.0
9327,rfd01,2018-12-26,45.5684,13:51:00,24.6902,02:30:20,2018-12-26 13:51:00,2018-12-26 02:30:20,12.0
9328,rfd01,2018-12-27,38.0048,14:01:30,20.7536,20:57:20,2018-12-27 14:01:30,2018-12-27 20:57:20,12.0
9329,rfd01,2018-12-28,30.2504,15:03:40,9.7340,07:16:10,2018-12-28 15:03:40,2018-12-28 07:16:10,12.0
9330,rfd01,2018-12-29,38.6492,15:35:00,4.1360,05:05:10,2018-12-29 15:35:00,2018-12-29 05:05:10,12.0
9331,rfd01,2018-12-30,59.1800,14:51:50,7.1780,07:20:10,2018-12-30 14:51:50,2018-12-30 07:20:10,12.0
9332,rfd01,2018-12-31,33.6956,08:28:00,10.8860,00:00:00,2018-12-31 08:28:00,2018-12-31 00:00:00,12.0
9333,</pre></body></html>,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN