In [131]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib

In [132]:
path = (r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\PrecipComparison' + 
        r'\variable_isolation\hourly')
os.chdir(path)

coag_csv = (path + r'\coag_csv.csv')
coop_csv = (path + r'\coop_csv.csv')
g = open(coop_csv,'w+')
f = open(coag_csv,'w+')

In [133]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=hourly&sids=akr02&sdate=1992-07-01' + 
    '&edate=2018-12-31&elems=tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir', filename=coag_csv)
df = pd.read_csv(coag_csv)
df = df.reset_index()

In [134]:
df.columns = ['station','datetime','tmean','rh','vp','sr','ws','wind_vec','pp','gust','gustdir']
df.drop(df.tail(1).index, inplace=True)
df = df.drop(df.columns[0],axis=1)
df['datetime'] = pd.to_datetime(df.datetime, errors='coerce')

In [136]:
pp_daily_sum = df.resample(rule='24H', label='right', on='datetime', base=17).agg(pd.Series.sum,
                                                                                 skipna=False)
pp_cols = ['tmean','rh','vp','sr','ws','wind_vec','gust','gustdir']
pp_daily_sum = pp_daily_sum.drop(pp_cols,axis=1)
pp_daily_sum.drop(pp_daily_sum.head(1).index,inplace=True)
pp_daily_sum.drop(pp_daily_sum.tail(29).index,inplace=True)
pp_daily_sum

                         pp
datetime
1992-07-02 17:00:00  10.000
1992-07-03 17:00:00   0.000
1992-07-04 17:00:00   0.000
1992-07-05 17:00:00   0.000
1992-07-06 17:00:00   0.000
...                     ...
2018-11-28 17:00:00   0.000
2018-11-29 17:00:00   0.000
2018-11-30 17:00:00   0.000
2018-12-01 17:00:00   0.000
2018-12-02 17:00:00   0.254

[9650 rows x 1 columns]

In [112]:
is_raining = df['pp'] > 0
df_raining = df[is_raining]
df_raining

,datetime,tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir
24,1992-07-02 01:00:00,11.710,0.947,NaN,0.4680,5.445,15.490,1.000,NaN,NaN
35,1992-07-02 14:00:00,16.250,0.714,NaN,NaN,5.164,355.800,9.000,NaN,NaN
141,1992-07-07 00:00:00,22.280,0.850,NaN,0.1044,4.164,168.800,1.000,NaN,NaN
259,1992-07-11 22:00:00,18.120,0.863,NaN,0.5220,4.842,323.000,2.000,NaN,NaN
260,1992-07-11 23:00:00,16.540,0.931,NaN,0.6264,3.243,40.160,1.000,NaN,NaN
281,1992-07-12 20:00:00,19.160,0.904,NaN,3.1392,2.963,116.600,1.000,NaN,NaN
352,1992-07-15 19:00:00,15.380,0.921,NaN,1.5156,6.924,223.700,7.000,NaN,NaN
367,1992-07-16 10:00:00,15.910,0.864,NaN,NaN,3.096,106.600,1.000,NaN,NaN
447,1992-07-19 18:00:00,19.130,0.780,NaN,NaN,5.314,43.560,3.000,NaN,NaN
473,1992-07-20 20:00:00,15.420,0.930,NaN,0.3636,3.321,119.500,6.000,NaN,NaN
474,1992-07-20 21:00:00,14.980,0.941,NaN,0.3636,4.434,133.300,4.000,NaN,NaN
546,1992-07-23 21:00:00,18.230,0.888,NaN,0.4680,8.940,182.300,11.000,NaN,NaN
810,1992-08-03 21:00:00,17.430,0.898,NaN,0.6804,4.630,293.600,4.000,NaN,NaN
913,1992-08-10 11:00:00,19.510,0.870,NaN,NaN,3.552,350.700,1.000,NaN,NaN
952,1992-08-12 02:00:00,14.290,0.899,NaN,0.4680,2.954,45.960,9.000,NaN,NaN
1078,1992-08-17 08:00:00,16.230,0.933,NaN,NaN,3.680,83.900,3.000,NaN,NaN
1081,1992-08-17 11:00:00,16.620,0.920,NaN,NaN,3.146,48.020,7.000,NaN,NaN
1082,1992-08-17 12:00:00,16.670,0.927,NaN,NaN,4.575,18.740,1.000,NaN,NaN
1084,1992-08-17 14:00:00,16.380,0.926,NaN,NaN,5.436,14.670,1.000,NaN,NaN
1218,1992-08-23 18:00:00,18.960,0.876,NaN,28.0440,3.577,348.500,3.000,NaN,NaN
1219,1992-08-23 19:00:00,14.850,0.926,NaN,16.1748,7.700,0.291,2.000,NaN,NaN
1220,1992-08-23 20:00:00,13.920,0.929,NaN,0.2592,6.387,1.043,4.000,NaN,NaN
1221,1992-08-23 21:00:00,13.870,0.928,NaN,0.3132,5.540,358.000,1.000,NaN,NaN
1222,1992-08-23 22:00:00,13.690,0.932,NaN,0.4680,3.695,13.880,2.000,NaN,NaN
1223,1992-08-23 23:00:00,13.610,0.936,NaN,1.2024,3.162,27.740,1.000,NaN,NaN
1224,1992-08-24 00:00:00,13.340,0.940,NaN,0.4176,2.479,45.770,2.000,NaN,NaN
1225,1992-08-24 01:00:00,13.050,0.940,NaN,1.5156,3.465,72.900,1.000,NaN,NaN
1226,1992-08-24 02:00:00,12.520,0.941,NaN,0.5220,4.091,72.200,1.000,NaN,NaN
1227,1992-08-24 03:00:00,12.280,0.939,NaN,0.2088,3.180,79.600,2.000,NaN,NaN
1228,1992-08-24 04:00:00,12.360,0.937,NaN,0.2088,3.106,79.100,1.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
176616,2018-10-08 09:00:00,1.845,1.000,0.703,5.1350,4.909,13.460,0.254,7.007,10.670
176623,2018-10-08 16:00:00,4.026,0.954,0.777,5.5000,2.967,24.940,0.508,4.447,25.410
176624,2018-10-08 17:00:00,3.938,0.968,0.784,2.4750,2.993,26.510,0.254,4.767,56.650
176643,2018-10-09 12:00:00,0.291,1.000,0.633,3.8770,4.734,357.900,0.254,7.487,362.500
176644,2018-10-09 13:00:00,0.034,1.000,0.631,4.2930,4.571,355.500,0.254,7.647,346.400
176645,2018-10-09 14:00:00,0.042,1.000,0.633,4.8310,4.041,348.200,0.508,6.207,356.300
176646,2018-10-09 15:00:00,0.089,1.000,0.636,3.9700,3.726,345.600,0.508,5.567,346.800
176647,2018-10-09 16:00:00,0.123,1.000,0.638,5.0470,4.032,348.800,0.762,5.407,335.500
176648,2018-10-09 17:00:00,0.143,1.000,0.639,2.0360,3.378,352.100,0.508,4.927,342.000
176664,2018-10-10 09:00:00,-0.352,1.000,0.604,14.3400,4.171,356.700,0.508,6.367,10.670
176665,2018-10-10 10:00:00,0.164,1.000,0.625,18.0400,3.787,359.500,2.794,6.847,11.450
176719,2018-10-12 16:00:00,14.810,0.293,0.492,18.6100,3.512,262.000,0.254,5.887,277.200
176998,2018-10-24 07:00:00,9.830,0.980,1.189,0.2240,4.326,185.100,1.016,6.687,189.400
176999,2018-10-24 08:00:00,9.650,0.993,1.190,1.0680,3.504,177.200,2.540,5.727,190.400
177000,2018-10-24 09:00:00,9.780,0.998,1.207,2.3380,2.459,197.600,2.286,3.967,208.000
177001,2018-10-24 10:00:00,9.830,0.999,1.211,3.5730,3.685,168.300,2.286,6.207,173.900
177002,2018-10-24 11:00:00,9.950,1.000,1.223,7.5950,4.702,180.600,1.524,6.687,171.600
177003,2018-10-24 12:00:00,10.480,0.975,1.235,9.6500,5.011,185.100,0.254,7.327,193.500
177006,2018-10-24 15:00:00,9.900,0.968,1.180,3.9290,4.029,180.900,0.254,5.887,177.400
177021,2018-10-25 06:00:00,4.053,1.000,0.818,0.0070,3.956,310.300,0.254,5.567,313.300
177284,2018-11-05 05:00:00,5.635,0.809,0.737,0.0040,4.369,317.600,0.508,9.730,311.500
177362,2018-11-08 11:00:00,-0.719,0.903,0.523,9.2900,5.586,356.600,0.254,8.450,344.100
177363,2018-11-08 12:00:00,-0.594,0.867,0.506,16.6300,5.387,3.721,1.016,8.450,355.100
177364,2018-11-08 13:00:00,1.741,0.696,0.482,30.2300,5.877,2.153,0.508,8.450,356.000
177601,2018-11-18 10:00:00,-3.519,0.990,0.467,24.7100,5.131,260.200,0.508,6.847,259.000
177602,2018-11-18 11:00:00,-1.294,0.930,0.516,29.9700,5.202,262.800,0.762,7.007,256.000
177603,2018-11-18 12:00:00,1.045,0.725,0.476,32.8800,4.480,272.400,0.254,6.527,287.300
177751,2018-11-24 16:00:00,3.227,0.838,0.641,0.2940,7.640,341.200,0.254,13.730,346.700
177752,2018-11-24 17:00:00,3.106,0.872,0.665,0.0330,5.170,358.800,0.254,10.210,1.552
177937,2018-12-02 10:00:00,-1.478,0.904,0.495,17.5800,3.881,334.900,0.254,5.727,318.500

In [113]:
df_raining['datetime'] = pd.to_datetime(df_raining.datetime)
mean_daily_variables = df_raining.resample(rule='24H',label='right',on='datetime',base=17).agg(pd.Series.mean, skipna=False)
mean_daily_variables

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,datetime,tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir
datetime,,,,,,,,,,
1992-07-02 17:00:00,1992-07-02 07:30:00,13.980000,0.830500,NaN,NaN,5.304500,185.645000,5.000000,NaN,NaN
1992-07-03 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-04 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-05 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-06 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-07 17:00:00,1992-07-07 00:00:00,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,1.000000,NaN,NaN
1992-07-08 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-09 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-10 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-11 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-12 17:00:00,1992-07-11 22:30:00,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,1.500000,NaN,NaN
1992-07-13 17:00:00,1992-07-12 20:00:00,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,1.000000,NaN,NaN
1992-07-14 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-15 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-16 17:00:00,1992-07-16 02:30:00,15.645000,0.892500,NaN,NaN,5.010000,165.150000,4.000000,NaN,NaN
1992-07-17 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-18 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-19 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-20 17:00:00,1992-07-19 18:00:00,19.130000,0.780000,NaN,NaN,5.314000,43.560000,3.000000,NaN,NaN
1992-07-21 17:00:00,1992-07-20 20:30:00,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,5.000000,NaN,NaN
1992-07-22 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-23 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-24 17:00:00,1992-07-23 21:00:00,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,11.000000,NaN,NaN
1992-07-25 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-26 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-27 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-28 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-29 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-30 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-31 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2018-11-03 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-04 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-05 17:00:00,2018-11-05 05:00:00,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,0.508000,9.730000,311.500000
2018-11-06 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-07 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-08 17:00:00,2018-11-08 12:00:00,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,0.592667,8.450000,351.733333
2018-11-09 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-10 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-11 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-12 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-13 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-14 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-15 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-16 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-17 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-18 17:00:00,2018-11-18 11:00:00,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,0.508000,6.793667,267.433333
2018-11-19 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-20 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-21 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-22 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-23 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-24 17:00:00,2018-11-24 16:00:00,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,0.254000,13.730000,346.700000
2018-11-25 17:00:00,2018-11-24 17:00:00,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,0.254000,10.210000,1.552000
2018-11-26 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-27 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-28 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-29 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-30 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-01 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-02 17:00:00,2018-12-02 10:00:00,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,0.254000,5.727000,318.500000

In [114]:
stuff = ['datetime','pp']
mean_daily_variables = mean_daily_variables.drop(stuff,axis=1)
mean_daily_variables

,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir
datetime,,,,,,,,
1992-07-02 17:00:00,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN
1992-07-03 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-05 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-07 17:00:00,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN
1992-07-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-12 17:00:00,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN
1992-07-13 17:00:00,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN
1992-07-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-16 17:00:00,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN
1992-07-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-20 17:00:00,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN
1992-07-21 17:00:00,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN
1992-07-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-24 17:00:00,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN
1992-07-25 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2018-11-03 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-05 17:00:00,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000
2018-11-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-07 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-08 17:00:00,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333
2018-11-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-12 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-13 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-18 17:00:00,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333
2018-11-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-24 17:00:00,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000
2018-11-25 17:00:00,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000
2018-11-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-02 17:00:00,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000

In [115]:
new_df = pd.merge(mean_daily_variables,pp_daily_sum,on=pp_daily_sum.index)
new_df

,key_0,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,pp
0,1992-07-02 17:00:00,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN,10.000
1,1992-07-03 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
2,1992-07-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
3,1992-07-05 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
4,1992-07-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
5,1992-07-07 17:00:00,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN,1.000
6,1992-07-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
7,1992-07-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
8,1992-07-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9,1992-07-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
10,1992-07-12 17:00:00,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN,3.000
11,1992-07-13 17:00:00,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN,1.000
12,1992-07-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
13,1992-07-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
14,1992-07-16 17:00:00,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN,8.000
15,1992-07-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
16,1992-07-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
17,1992-07-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
18,1992-07-20 17:00:00,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN,3.000
19,1992-07-21 17:00:00,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN,10.000
20,1992-07-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
21,1992-07-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
22,1992-07-24 17:00:00,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN,11.000
23,1992-07-25 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
24,1992-07-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
25,1992-07-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
26,1992-07-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
27,1992-07-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
28,1992-07-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
29,1992-07-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...
9620,2018-11-03 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9621,2018-11-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9622,2018-11-05 17:00:00,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000,0.508
9623,2018-11-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9624,2018-11-07 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9625,2018-11-08 17:00:00,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333,1.778
9626,2018-11-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9627,2018-11-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9628,2018-11-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9629,2018-11-12 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9630,2018-11-13 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9631,2018-11-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9632,2018-11-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9633,2018-11-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9634,2018-11-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9635,2018-11-18 17:00:00,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333,1.524
9636,2018-11-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9637,2018-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9638,2018-11-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9639,2018-11-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9640,2018-11-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9641,2018-11-24 17:00:00,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000,0.254
9642,2018-11-25 17:00:00,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000,0.254
9643,2018-11-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9644,2018-11-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9645,2018-11-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9646,2018-11-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9647,2018-11-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9648,2018-12-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
9649,2018-12-02 17:00:00,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000,0.254

In [116]:
#is_raining = new_df['pp'] > 0
#new_df = new_df[is_raining]
new_df.pp = new_df.pp / 25.4
new_df['key_0'] = pd.to_datetime(new_df.key_0, errors='coerce')
new_df['key_0'] = new_df.key_0.dt.date
new_df

,key_0,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,pp
0,1992-07-02,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN,0.393701
1,1992-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,1992-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3,1992-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,1992-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
5,1992-07-07,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN,0.039370
6,1992-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
7,1992-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
8,1992-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9,1992-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
10,1992-07-12,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN,0.118110
11,1992-07-13,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN,0.039370
12,1992-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
13,1992-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
14,1992-07-16,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN,0.314961
15,1992-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
16,1992-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
17,1992-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
18,1992-07-20,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN,0.118110
19,1992-07-21,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN,0.393701
20,1992-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
21,1992-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
22,1992-07-24,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN,0.433071
23,1992-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
24,1992-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25,1992-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
26,1992-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
27,1992-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
28,1992-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
29,1992-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...
9620,2018-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9621,2018-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9622,2018-11-05,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000,0.020000
9623,2018-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9624,2018-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9625,2018-11-08,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333,0.070000
9626,2018-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9627,2018-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9628,2018-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9629,2018-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9630,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9631,2018-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9632,2018-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9633,2018-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9634,2018-11-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9635,2018-11-18,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333,0.060000
9636,2018-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9637,2018-11-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9638,2018-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9639,2018-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9640,2018-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9641,2018-11-24,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000,0.010000
9642,2018-11-25,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000,0.010000
9643,2018-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9644,2018-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9645,2018-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9646,2018-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9647,2018-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9648,2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9649,2018-12-02,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000,0.010000

In [117]:
urllib.request.urlretrieve(
    'http://data.rcc-acis.org/StnData?sid=057167&sdate=1992-07-02&edate=2018-12-02&elems=pcpn&output=csv',
    filename=coop_csv)
coop_df = pd.read_csv(coop_csv)
coop_df = coop_df.reset_index()
coop_df = coop_df.replace('M', np.nan, regex=True)
coop_df = coop_df.replace('T',0.005, regex=True)
coop_df.columns = ['date','precip']
coop_df['date'] = pd.to_datetime(coop_df.date)

In [130]:
newest_df = new_df.merge(coop_df,left_index=True,right_index=True)
stuff = ['date']
newest_df = newest_df.drop(stuff,axis=1)
newest_df.columns = ['date','tmean','rh','vp','sr','ws','wind_vec',
                     'gust','gustdir','coag_pp','coop_pp']

,date,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,coag_pp,coop_pp
0,1992-07-02,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN,0.393701,0.00
1,1992-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.25
2,1992-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
3,1992-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
4,1992-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
5,1992-07-07,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN,0.039370,0.00
6,1992-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.005
7,1992-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
8,1992-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9,1992-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
10,1992-07-12,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN,0.118110,0.00
11,1992-07-13,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN,0.039370,0.26
12,1992-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.04
13,1992-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.02
14,1992-07-16,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN,0.314961,0.59
15,1992-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.005
16,1992-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
17,1992-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
18,1992-07-20,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN,0.118110,0.005
19,1992-07-21,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN,0.393701,0.46
20,1992-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
21,1992-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.005
22,1992-07-24,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN,0.433071,0.005
23,1992-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.005
24,1992-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.19
25,1992-07-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
26,1992-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
27,1992-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.01
28,1992-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.02
29,1992-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...
9620,2018-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9621,2018-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9622,2018-11-05,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000,0.020000,0.00
9623,2018-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9624,2018-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9625,2018-11-08,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333,0.070000,0.00
9626,2018-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9627,2018-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9628,2018-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9629,2018-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.22
9630,2018-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9631,2018-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9632,2018-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9633,2018-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9634,2018-11-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9635,2018-11-18,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333,0.060000,0.00
9636,2018-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9637,2018-11-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9638,2018-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9639,2018-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9640,2018-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9641,2018-11-24,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000,0.010000,0.00
9642,2018-11-25,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000,0.010000,0.00
9643,2018-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9644,2018-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9645,2018-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9646,2018-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9647,2018-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9648,2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00
9649,2018-12-02,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000,0.010000,0.00

In [145]:
newest_df.coag_pp = newest_df.coag_pp.astype(float)
newest_df.coop_pp = newest_df.coop_pp.astype(float)
dat_newnew = newest_df[(newest_df.coag_pp > 0)]
dat_newnew['diff'] = dat_newnew.coag_pp - dat_newnew.coop_pp
dat_newnew

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,date,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,coag_pp,coop_pp,diff
0,1992-07-02,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN,0.393701,0.000,0.393701
5,1992-07-07,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN,0.039370,0.000,0.039370
10,1992-07-12,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN,0.118110,0.000,0.118110
11,1992-07-13,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN,0.039370,0.260,-0.220630
14,1992-07-16,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN,0.314961,0.590,-0.275039
18,1992-07-20,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN,0.118110,0.005,0.113110
19,1992-07-21,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN,0.393701,0.460,-0.066299
22,1992-07-24,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN,0.433071,0.005,0.428071
33,1992-08-04,17.430000,0.898000,NaN,0.680400,4.630000,293.600000,NaN,NaN,0.157480,0.040,0.117480
39,1992-08-10,19.510000,0.870000,NaN,NaN,3.552000,350.700000,NaN,NaN,0.039370,0.000,0.039370
41,1992-08-12,14.290000,0.899000,NaN,0.468000,2.954000,45.960000,NaN,NaN,0.354331,0.030,0.324331
46,1992-08-17,16.475000,0.926500,NaN,NaN,4.209250,41.332500,NaN,NaN,0.472441,0.020,0.452441
53,1992-08-24,12.485714,0.932905,NaN,NaN,4.277952,65.265905,NaN,NaN,1.889764,0.830,1.059764
54,1992-08-25,9.738333,0.938333,NaN,NaN,4.397000,189.892333,NaN,NaN,0.708661,0.380,0.328661
61,1992-09-01,16.510000,0.909000,NaN,0.599400,6.014500,143.950000,NaN,NaN,0.157480,0.005,0.152480
97,1992-10-07,3.569000,0.945375,NaN,NaN,6.790375,238.112500,NaN,NaN,0.708661,0.190,0.518661
142,1992-11-21,0.805000,0.774000,NaN,NaN,4.068000,319.100000,NaN,NaN,0.039370,0.340,-0.300630
143,1992-11-22,-1.526500,0.747600,NaN,NaN,1.423000,219.100000,NaN,NaN,0.078740,0.000,0.078740
145,1992-11-24,-6.420000,0.837000,NaN,NaN,8.250000,347.700000,NaN,NaN,0.039370,0.010,0.029370
252,1993-03-11,-1.850000,0.876000,NaN,NaN,5.497000,141.600000,NaN,NaN,0.039370,0.060,-0.020630
254,1993-03-13,0.060000,0.485400,NaN,NaN,2.913000,247.000000,NaN,NaN,0.039370,0.000,0.039370
269,1993-03-28,4.400500,0.888000,NaN,NaN,3.874000,101.920000,NaN,NaN,0.078740,0.000,0.078740
275,1993-04-03,4.404875,0.874500,NaN,NaN,4.346250,114.293750,NaN,NaN,0.708661,1.040,-0.331339
278,1993-04-06,4.155250,0.835750,NaN,NaN,2.916500,79.657500,NaN,NaN,0.236220,0.020,0.216220
279,1993-04-07,1.488000,0.860000,NaN,NaN,3.035000,23.157500,NaN,NaN,0.118110,0.230,-0.111890
280,1993-04-08,3.168000,0.794000,NaN,NaN,7.690000,349.600000,NaN,NaN,0.039370,0.000,0.039370
285,1993-04-13,0.885000,0.867000,NaN,NaN,4.479333,138.833333,NaN,NaN,0.236220,0.005,0.231220
291,1993-04-19,4.871333,0.775533,NaN,NaN,8.106000,326.166667,NaN,NaN,0.118110,0.000,0.118110
296,1993-04-24,6.242000,0.750150,NaN,NaN,3.075000,286.500000,NaN,NaN,0.078740,NaN,NaN
302,1993-04-30,10.235000,0.766550,NaN,NaN,4.352500,164.110000,NaN,NaN,0.275591,0.000,0.275591
...,...,...,...,...,...,...,...,...,...,...,...,...
9482,2018-06-18,15.942857,0.937714,1.683000,9.969286,5.946429,161.128571,9.431571,117.070429,0.600000,0.000,0.600000
9483,2018-06-19,20.050000,0.759000,1.765000,0.806500,4.596500,67.485000,8.688500,75.925000,0.130000,0.000,0.130000
9486,2018-06-22,19.645000,0.626000,1.399500,3.027000,5.734500,268.850000,12.930000,288.200000,0.459921,0.000,0.459921
9487,2018-06-23,21.920000,0.486000,1.277000,14.620000,3.258000,120.000000,7.007000,141.600000,0.010000,0.000,0.010000
9488,2018-06-24,12.444000,0.933600,1.356000,0.521200,4.016200,33.874000,10.208200,141.380000,1.360000,0.100,1.260000
9499,2018-07-05,19.683333,0.866000,1.984667,0.006000,4.485333,230.133333,12.875667,219.830000,0.739921,0.000,0.739921
9520,2018-07-26,20.596667,0.757333,1.805333,12.534667,4.891667,112.817333,10.209000,230.733333,0.070000,0.000,0.070000
9521,2018-07-27,17.070000,0.870000,1.691000,8.530000,2.173500,185.850000,6.528500,170.270000,0.220000,0.000,0.220000
9524,2018-07-30,15.980000,0.925667,1.678000,4.345333,5.268667,159.206667,11.702333,130.836667,0.829843,0.160,0.669843
9532,2018-08-07,16.415000,0.929500,1.737500,1.216000,1.741500,149.850000,3.727000,119.200000,0.020000,0.450,-0.430000
9533,2018-08-08,16.630000,0.811500,1.531500,1.254000,4.501000,118.525000,10.528500,157.540000,0.030000,0.130,-0.100000
9543,2018-08-18,20.333333,0.780000,1.837000,2.523667,3.471000,172.926667,9.730000,275.800000,0.070000,0.190,-0.120000
9545,2018-08-20,16.290000,0.789000,1.451000,5.031000,7.225000,350.700000,11.970000,360.600000,0.010000,0.000,0.010000
9546,2018-08-21,11.910000,0.825000,1.149000,5.774000,2.610000,139.200000,5.567000,118.400000,0.010000,0.000,0.010000
9547,2018-08-22,13.620000,1.000000,1.574000,5.898000,4.235000,149.400000,6.207000,169.800000,0.030000,0.000,0.030000
9558,2018-09-02,19.380000,0.642000,1.420500,4.704000,6.092500,161.050000,13.890000,151.500000,0.030000,0.000,0.030000
9576,2018-09-20,14.786667,0.996667,1.678667,0.007333,3.494000,234.963333,6.527000,216.666667,0.050000,0.000,0.050000
9581,2018-09-25,17.005000,0.645000,1.163500,0.742000,3.144000,201.725000,8.928500,307.250000,0.150000,0.000,0.150000
9594,2018-10-08,3.687125,0.994250,0.803250,1.333625,4.370750,83.048750,6.867750,39.476250,0.430000,0.310,0.120000
9595,2018-10-09,0.752833,0.994667,0.659167,4.082167,4.016167,297.085000,6.180333,300.691667,0.100000,0.580,-0.480000
9596,2018-10-10,-0.015000,1.000000,0.622667,11.472000,3.778667,356.100000,6.047000,121.373333,0.150000,0.030,0.120000
9598,2018-10-12,14.810000,0.293000,0.492000,18.610000,3.512000,262.000000,5.887000,277.200000,0.010000,0.000,0.010000
9610,2018-10-24,9.917143,0.987571,1.205000,4.053857,3.959429,182.114286,6.069857,186.314286,0.400000,0.960,-0.560000
9611,2018-10-25,4.053000,1.000000,0.818000,0.007000,3.956000,310.300000,5.567000,313.300000,0.010000,0.000,0.010000
9622,2018-11-05,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000,0.020000,0.000,0.020000
9625,2018-11-08,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333,0.070000,0.000,0.070000
9635,2018-11-18,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333,0.060000,0.000,0.060000
9641,2018-11-24,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000,0.010000,0.000,0.010000
9642,2018-11-25,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000,0.010000,0.000,0.010000
9649,2018-12-02,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000,0.010000,0.000,0.010000