In [107]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib
from jupyterthemes import jtplot

In [108]:
path = (r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\PrecipComparison' + 
        r'\variable_isolation\hourly')
os.chdir(path)

coag_csv = (path + r'\coag_csv.csv')
coop_csv = (path + r'\coop_csv.csv')
g = open(coop_csv,'w+')
f = open(coag_csv,'w+')
jtplot.style(theme='gruvboxd')

In [109]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=hourly&sids=rfd01&sdate=1992-06-04' + 
    '&edate=2018-12-31&elems=tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir', filename=coag_csv)
coag_df = pd.read_csv(coag_csv)
coag_df = coag_df.reset_index()

In [110]:
coag_df.columns = ['station','datetime','tmean','rh','vp','sr','ws','wind_vec','pp','gust','gustdir']
coag_df.drop(coag_df.tail(1).index, inplace=True)
coag_df = coag_df.drop(coag_df.columns[0],axis=1)
coag_df['datetime'] = pd.to_datetime(coag_df.datetime, errors='coerce')
#coag_df['j_day'] = coag_df.datetime.dt.strftime('%j').astype(int)

In [111]:
pp_daily_sum = coag_df.resample(rule='24H', label='right',on='datetime', base=17).agg(pd.Series.sum,
                                                                                 skipna=False)
pp_cols = ['tmean','rh','vp','sr','ws','wind_vec','gust','gustdir']
pp_daily_sum = pp_daily_sum.drop(pp_cols,axis=1)
pp_daily_sum['j_day'] = pp_daily_sum.index.strftime('%j').astype(int)
pp_daily_sum

                        pp  j_day
datetime
1992-06-04 17:00:00  0.000    156
1992-06-05 17:00:00  2.286    157
1992-06-06 17:00:00  0.508    158
1992-06-07 17:00:00  2.286    159
1992-06-08 17:00:00  0.000    160
...                    ...    ...
2018-12-27 17:00:00  0.000    361
2018-12-28 17:00:00  0.000    362
2018-12-29 17:00:00  0.000    363
2018-12-30 17:00:00  0.000    364
2018-12-31 17:00:00  0.000    365

[9707 rows x 2 columns]

In [112]:
first_day = pp_daily_sum['j_day'][0]
last_day = pp_daily_sum['j_day'][-1]

In [113]:
is_raining = coag_df['pp'] > 0
coag_df_raining = coag_df[is_raining]
coag_df_raining

,datetime,tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir
21,1992-06-04 23:00:00,16.710,0.896,1.703,-0.004,2.077,282.50,0.762,0.009,NaN
22,1992-06-05 00:00:00,15.210,0.945,1.632,-0.007,0.461,281.60,1.016,0.009,NaN
23,1992-06-05 01:00:00,14.400,0.969,1.589,-0.006,0.746,281.10,0.508,0.009,NaN
44,1992-06-05 22:00:00,16.190,0.851,1.564,-0.009,1.489,283.10,0.254,0.009,NaN
46,1992-06-06 00:00:00,14.880,0.868,1.468,-0.014,1.617,281.20,0.254,0.009,NaN
65,1992-06-06 19:00:00,16.550,0.704,1.304,0.195,6.761,285.00,0.508,0.009,NaN
66,1992-06-06 20:00:00,15.620,0.792,1.405,0.174,4.335,282.10,0.762,0.009,NaN
67,1992-06-06 21:00:00,16.420,0.756,1.411,-0.004,3.781,281.30,0.508,0.007,NaN
68,1992-06-06 22:00:00,16.280,0.773,1.429,-0.004,4.102,281.40,0.254,0.000,NaN
69,1992-06-06 23:00:00,16.070,0.790,1.441,-0.005,2.417,281.40,0.254,0.009,NaN
112,1992-06-08 18:00:00,17.620,0.680,1.339,1.258,4.297,286.60,1.270,0.009,NaN
113,1992-06-08 19:00:00,13.810,0.951,1.501,0.126,3.000,283.30,2.032,0.008,NaN
114,1992-06-08 20:00:00,13.930,0.954,1.516,0.131,2.477,282.60,1.778,0.008,NaN
115,1992-06-08 21:00:00,13.810,0.960,1.514,0.005,1.601,284.30,1.524,0.009,NaN
116,1992-06-08 22:00:00,13.590,0.970,1.508,-0.005,3.936,288.20,1.016,0.009,NaN
117,1992-06-08 23:00:00,13.690,0.965,1.510,-0.012,3.752,292.60,1.016,0.009,NaN
118,1992-06-09 00:00:00,13.520,0.963,1.491,-0.013,3.228,296.60,0.508,0.009,NaN
119,1992-06-09 01:00:00,13.210,0.967,1.467,-0.012,0.934,298.10,0.762,0.009,NaN
120,1992-06-09 02:00:00,12.950,0.967,1.443,-0.015,0.933,299.00,0.254,0.009,NaN
121,1992-06-09 03:00:00,13.430,0.953,1.467,-0.008,1.949,303.70,0.508,0.008,NaN
122,1992-06-09 04:00:00,12.610,0.977,1.425,-0.006,1.845,310.30,0.254,0.008,NaN
123,1992-06-09 05:00:00,12.400,0.987,1.421,-0.011,1.890,311.30,0.508,0.009,NaN
124,1992-06-09 06:00:00,12.470,0.986,1.424,0.040,0.818,310.30,0.508,0.009,NaN
125,1992-06-09 07:00:00,12.740,0.985,1.449,0.911,1.067,311.90,0.254,0.009,NaN
126,1992-06-09 08:00:00,13.100,0.982,1.480,3.919,2.207,317.30,0.508,0.009,NaN
127,1992-06-09 09:00:00,13.870,0.965,1.529,8.170,2.802,323.80,0.254,0.007,NaN
128,1992-06-09 10:00:00,15.350,0.923,1.608,24.200,3.989,329.50,0.254,0.000,NaN
129,1992-06-09 11:00:00,16.600,0.879,1.660,22.890,4.299,331.40,0.254,0.006,NaN
130,1992-06-09 12:00:00,15.580,0.910,1.610,10.560,4.654,321.90,0.254,0.000,NaN
132,1992-06-09 14:00:00,17.510,0.838,1.677,29.820,4.715,321.30,0.254,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
222831,2018-10-24 08:00:00,10.450,0.988,1.250,1.365,1.842,109.30,1.016,3.125,100.600
222832,2018-10-24 09:00:00,10.400,0.985,1.241,2.435,2.124,115.50,1.270,3.275,123.900
222833,2018-10-24 10:00:00,10.350,0.983,1.235,3.064,2.366,110.60,1.524,3.950,141.600
222834,2018-10-24 11:00:00,10.360,0.972,1.223,3.619,2.917,131.50,1.270,5.150,156.500
222835,2018-10-24 12:00:00,9.770,0.977,1.180,3.060,2.890,114.10,1.778,4.550,113.700
222836,2018-10-24 13:00:00,9.410,0.984,1.160,2.403,2.438,101.90,2.032,3.875,90.500
222837,2018-10-24 14:00:00,9.160,0.987,1.144,3.255,2.672,97.60,2.540,4.025,103.100
222838,2018-10-24 15:00:00,9.160,0.987,1.145,2.564,2.593,109.80,2.032,4.250,111.600
222839,2018-10-24 16:00:00,8.890,0.982,1.118,2.111,2.669,90.60,1.016,4.550,84.100
222840,2018-10-24 17:00:00,8.000,0.982,1.053,0.547,2.919,74.97,0.508,4.625,74.260
222841,2018-10-24 18:00:00,7.387,0.982,1.010,0.040,3.080,87.30,0.254,5.600,107.200
222987,2018-10-30 20:00:00,6.080,0.783,0.736,0.000,2.503,37.17,0.254,4.850,59.040
222990,2018-10-30 23:00:00,3.421,0.938,0.732,0.000,3.122,23.34,1.270,5.600,5.895
222991,2018-10-31 00:00:00,2.572,0.946,0.695,0.000,2.386,33.23,2.032,4.625,41.170
222992,2018-10-31 01:00:00,1.428,0.963,0.652,0.000,1.828,26.21,0.762,3.950,18.380
222993,2018-10-31 02:00:00,0.991,0.973,0.638,0.000,1.387,17.53,0.508,2.675,8.570
222994,2018-10-31 03:00:00,0.796,0.978,0.633,0.000,1.646,19.38,0.508,3.350,24.550
222995,2018-10-31 04:00:00,0.791,0.980,0.634,0.000,1.230,21.91,0.508,2.900,14.130
222996,2018-10-31 05:00:00,1.000,0.980,0.643,0.000,0.897,35.85,0.254,2.225,37.020
222997,2018-10-31 06:00:00,0.950,0.980,0.641,0.000,0.253,37.66,0.508,1.250,64.240
222998,2018-10-31 07:00:00,1.295,0.983,0.659,0.286,0.074,282.40,0.508,0.950,257.400
223000,2018-10-31 09:00:00,2.420,0.969,0.705,4.539,1.559,297.80,0.508,2.750,290.900
223001,2018-10-31 10:00:00,3.397,0.944,0.736,12.590,1.963,293.80,0.254,3.125,280.300
223004,2018-10-31 13:00:00,4.513,0.897,0.755,9.480,2.402,295.40,0.254,4.850,318.500
223005,2018-10-31 14:00:00,5.388,0.873,0.781,16.590,1.856,258.00,0.254,3.425,251.800
223073,2018-11-03 10:00:00,8.210,0.735,0.799,3.230,4.372,337.60,0.254,7.625,5.435
223315,2018-11-13 12:00:00,2.965,0.585,0.442,31.280,2.484,277.30,2.794,4.025,280.200
223316,2018-11-13 13:00:00,4.851,0.528,0.455,33.230,2.810,275.70,0.508,4.025,270.500
223587,2018-11-24 20:00:00,3.725,0.822,0.655,0.000,5.491,343.80,0.254,11.300,339.600
223592,2018-11-25 01:00:00,0.492,0.664,0.421,0.000,7.443,330.70,0.254,12.950,322.200

In [114]:
coag_df_raining['datetime'] = pd.to_datetime(coag_df_raining.datetime)
mean_daily_variables = coag_df_raining.resample(rule='24H',label='right',on='datetime',base=17).agg(pd.Series.mean, skipna=False)
mean_daily_variables

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,datetime,tmean,rh,vp,sr,ws,wind_vec,pp,gust,gustdir
datetime,,,,,,,,,,
1992-06-05 17:00:00,1992-06-05 00:00:00.000000000,15.440000,0.936667,1.641333,-0.005667,1.094667,281.733333,0.762000,0.009000,NaN
1992-06-06 17:00:00,1992-06-05 23:00:00.000000000,15.535000,0.859500,1.516000,-0.011500,1.553000,282.150000,0.254000,0.009000,NaN
1992-06-07 17:00:00,1992-06-06 21:00:00.000000000,16.188000,0.763000,1.398000,0.071200,4.279200,282.240000,0.457200,0.006800,NaN
1992-06-08 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-09 17:00:00,1992-06-09 04:05:42.857142912,14.284286,0.932048,1.511000,6.708000,2.794810,306.009524,0.677333,0.006857,NaN
1992-06-10 17:00:00,1992-06-10 03:26:40.000000000,17.462222,0.748222,1.442889,22.146000,1.745333,318.688889,0.254000,0.003222,NaN
1992-06-11 17:00:00,1992-06-11 04:00:00.000000000,19.910000,0.717000,1.610000,19.128000,1.179667,296.366667,0.254000,0.003333,NaN
1992-06-12 17:00:00,1992-06-12 05:15:00.000000000,17.587500,0.863000,1.727250,20.430500,2.940500,304.025000,0.254000,0.004250,NaN
1992-06-13 17:00:00,1992-06-13 02:30:00.000000000,18.360000,0.849000,1.773500,6.640500,2.406000,298.200000,0.254000,0.000000,NaN
1992-06-14 17:00:00,1992-06-14 05:00:00.000000000,25.860000,0.572500,1.898500,30.559500,2.867000,305.900000,0.254000,0.000000,NaN
1992-06-15 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-16 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-17 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-18 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-19 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-20 17:00:00,1992-06-19 19:40:00.000000000,21.570000,0.767333,1.972667,0.719000,3.617333,287.966667,0.338667,0.006000,NaN
1992-06-21 17:00:00,1992-06-20 22:00:00.000000000,16.594000,0.877200,1.655000,0.028600,2.821600,284.880000,0.558800,0.008600,NaN
1992-06-22 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-23 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-24 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-25 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-26 17:00:00,1992-06-26 02:00:00.000000000,15.473846,0.971077,1.705231,1.046231,1.292769,283.469231,0.703385,0.007846,NaN
1992-06-27 17:00:00,1992-06-26 20:30:00.000000000,17.480000,0.755500,1.503500,0.027000,3.914500,286.400000,2.794000,0.008500,NaN
1992-06-28 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-06-29 17:00:00,1992-06-28 20:00:00.000000000,18.990000,0.829333,1.746000,1.035333,2.628333,291.033333,5.333333,0.008667,NaN
1992-06-30 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-01 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-02 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-07-03 17:00:00,1992-07-02 20:30:00.000000000,17.580000,0.795000,1.583500,8.810000,2.400000,285.100000,3.175000,0.005000,NaN
1992-07-04 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2018-10-27 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-28 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-29 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-30 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-31 17:00:00,2018-10-31 04:55:42.857142784,2.503000,0.941929,0.688571,3.106071,1.650429,119.977143,0.598714,3.323214,119.421071
2018-11-01 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-02 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-03 17:00:00,2018-11-03 10:00:00.000000000,8.210000,0.735000,0.799000,3.230000,4.372000,337.600000,0.254000,7.625000,5.435000
2018-11-04 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-05 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-06 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-07 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-08 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-09 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-10 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-11 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-12 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-13 17:00:00,2018-11-13 12:30:00.000000000,3.908000,0.556500,0.448500,32.255000,2.647000,276.500000,1.651000,4.025000,275.350000
2018-11-14 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-15 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-16 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-17 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-18 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-19 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-20 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-21 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-22 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-23 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-24 17:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-25 17:00:00,2018-11-24 22:30:00.000000000,2.108500,0.743000,0.538000,0.000000,6.467000,337.250000,0.254000,12.125000,330.900000

In [115]:
mean_daily_variables['j_day'] = mean_daily_variables.index.strftime('%j').astype(int)

In [116]:
stuff = ['datetime','pp']
mean_daily_variables = mean_daily_variables.drop(stuff,axis=1)
mean_daily_variables

,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,j_day
datetime,,,,,,,,,
1992-06-05 17:00:00,15.440000,0.936667,1.641333,-0.005667,1.094667,281.733333,0.009000,NaN,157
1992-06-06 17:00:00,15.535000,0.859500,1.516000,-0.011500,1.553000,282.150000,0.009000,NaN,158
1992-06-07 17:00:00,16.188000,0.763000,1.398000,0.071200,4.279200,282.240000,0.006800,NaN,159
1992-06-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160
1992-06-09 17:00:00,14.284286,0.932048,1.511000,6.708000,2.794810,306.009524,0.006857,NaN,161
1992-06-10 17:00:00,17.462222,0.748222,1.442889,22.146000,1.745333,318.688889,0.003222,NaN,162
1992-06-11 17:00:00,19.910000,0.717000,1.610000,19.128000,1.179667,296.366667,0.003333,NaN,163
1992-06-12 17:00:00,17.587500,0.863000,1.727250,20.430500,2.940500,304.025000,0.004250,NaN,164
1992-06-13 17:00:00,18.360000,0.849000,1.773500,6.640500,2.406000,298.200000,0.000000,NaN,165
1992-06-14 17:00:00,25.860000,0.572500,1.898500,30.559500,2.867000,305.900000,0.000000,NaN,166
1992-06-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167
1992-06-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168
1992-06-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169
1992-06-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170
1992-06-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171
1992-06-20 17:00:00,21.570000,0.767333,1.972667,0.719000,3.617333,287.966667,0.006000,NaN,172
1992-06-21 17:00:00,16.594000,0.877200,1.655000,0.028600,2.821600,284.880000,0.008600,NaN,173
1992-06-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174
1992-06-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175
1992-06-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176
1992-06-25 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177
1992-06-26 17:00:00,15.473846,0.971077,1.705231,1.046231,1.292769,283.469231,0.007846,NaN,178
1992-06-27 17:00:00,17.480000,0.755500,1.503500,0.027000,3.914500,286.400000,0.008500,NaN,179
1992-06-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180
1992-06-29 17:00:00,18.990000,0.829333,1.746000,1.035333,2.628333,291.033333,0.008667,NaN,181
1992-06-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182
1992-07-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183
1992-07-02 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184
1992-07-03 17:00:00,17.580000,0.795000,1.583500,8.810000,2.400000,285.100000,0.005000,NaN,185
1992-07-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186
...,...,...,...,...,...,...,...,...,...
2018-10-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300
2018-10-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301
2018-10-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302
2018-10-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303
2018-10-31 17:00:00,2.503000,0.941929,0.688571,3.106071,1.650429,119.977143,3.323214,119.421071,304
2018-11-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
2018-11-02 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306
2018-11-03 17:00:00,8.210000,0.735000,0.799000,3.230000,4.372000,337.600000,7.625000,5.435000,307
2018-11-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308
2018-11-05 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309
2018-11-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310
2018-11-07 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311
2018-11-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312
2018-11-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,313
2018-11-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,314
2018-11-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315
2018-11-12 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316
2018-11-13 17:00:00,3.908000,0.556500,0.448500,32.255000,2.647000,276.500000,4.025000,275.350000,317
2018-11-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318
2018-11-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319
2018-11-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320
2018-11-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321
2018-11-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322
2018-11-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323
2018-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324
2018-11-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325
2018-11-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326
2018-11-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327
2018-11-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328
2018-11-25 17:00:00,2.108500,0.743000,0.538000,0.000000,6.467000,337.250000,12.125000,330.900000,329

In [117]:
first_rainy_day = mean_daily_variables.j_day[0]
last_rainy_day = mean_daily_variables.j_day[-1]

In [118]:
start = int(first_rainy_day - first_day)
end = int(last_day - last_rainy_day)
print(start)
print(end)

1
36

In [119]:
pp_daily_sum.drop(pp_daily_sum.head(start).index,inplace=True)
pp_daily_sum.drop(pp_daily_sum.tail(end).index,inplace=True)
pp_daily_sum

                         pp  j_day
datetime
1992-06-05 17:00:00   2.286    157
1992-06-06 17:00:00   0.508    158
1992-06-07 17:00:00   2.286    159
1992-06-08 17:00:00   0.000    160
1992-06-09 17:00:00  14.224    161
...                     ...    ...
2018-11-21 17:00:00   0.000    325
2018-11-22 17:00:00   0.000    326
2018-11-23 17:00:00   0.000    327
2018-11-24 17:00:00   0.000    328
2018-11-25 17:00:00   0.508    329

[9670 rows x 2 columns]

In [120]:
new_df = pd.merge(mean_daily_variables,pp_daily_sum,on=pp_daily_sum.index)
new_df

,key_0,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,j_day_x,pp,j_day_y
0,1992-06-05 17:00:00,15.440000,0.936667,1.641333,-0.005667,1.094667,281.733333,0.009000,NaN,157,2.286,157
1,1992-06-06 17:00:00,15.535000,0.859500,1.516000,-0.011500,1.553000,282.150000,0.009000,NaN,158,0.508,158
2,1992-06-07 17:00:00,16.188000,0.763000,1.398000,0.071200,4.279200,282.240000,0.006800,NaN,159,2.286,159
3,1992-06-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160,0.000,160
4,1992-06-09 17:00:00,14.284286,0.932048,1.511000,6.708000,2.794810,306.009524,0.006857,NaN,161,14.224,161
5,1992-06-10 17:00:00,17.462222,0.748222,1.442889,22.146000,1.745333,318.688889,0.003222,NaN,162,2.286,162
6,1992-06-11 17:00:00,19.910000,0.717000,1.610000,19.128000,1.179667,296.366667,0.003333,NaN,163,0.762,163
7,1992-06-12 17:00:00,17.587500,0.863000,1.727250,20.430500,2.940500,304.025000,0.004250,NaN,164,1.016,164
8,1992-06-13 17:00:00,18.360000,0.849000,1.773500,6.640500,2.406000,298.200000,0.000000,NaN,165,0.508,165
9,1992-06-14 17:00:00,25.860000,0.572500,1.898500,30.559500,2.867000,305.900000,0.000000,NaN,166,0.508,166
10,1992-06-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167,0.000,167
11,1992-06-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,0.000,168
12,1992-06-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169,0.000,169
13,1992-06-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170,0.000,170
14,1992-06-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,0.000,171
15,1992-06-20 17:00:00,21.570000,0.767333,1.972667,0.719000,3.617333,287.966667,0.006000,NaN,172,1.016,172
16,1992-06-21 17:00:00,16.594000,0.877200,1.655000,0.028600,2.821600,284.880000,0.008600,NaN,173,2.794,173
17,1992-06-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174,0.000,174
18,1992-06-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175,0.000,175
19,1992-06-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,0.000,176
20,1992-06-25 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177,0.000,177
21,1992-06-26 17:00:00,15.473846,0.971077,1.705231,1.046231,1.292769,283.469231,0.007846,NaN,178,9.144,178
22,1992-06-27 17:00:00,17.480000,0.755500,1.503500,0.027000,3.914500,286.400000,0.008500,NaN,179,5.588,179
23,1992-06-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,0.000,180
24,1992-06-29 17:00:00,18.990000,0.829333,1.746000,1.035333,2.628333,291.033333,0.008667,NaN,181,16.000,181
25,1992-06-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182,0.000,182
26,1992-07-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183,0.000,183
27,1992-07-02 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184,0.000,184
28,1992-07-03 17:00:00,17.580000,0.795000,1.583500,8.810000,2.400000,285.100000,0.005000,NaN,185,6.350,185
29,1992-07-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186,0.000,186
...,...,...,...,...,...,...,...,...,...,...,...,...
9640,2018-10-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,0.000,300
9641,2018-10-28 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301,0.000,301
9642,2018-10-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302,0.000,302
9643,2018-10-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303,0.000,303
9644,2018-10-31 17:00:00,2.503000,0.941929,0.688571,3.106071,1.650429,119.977143,3.323214,119.421071,304,8.382,304
9645,2018-11-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305,0.000,305
9646,2018-11-02 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306,0.000,306
9647,2018-11-03 17:00:00,8.210000,0.735000,0.799000,3.230000,4.372000,337.600000,7.625000,5.435000,307,0.254,307
9648,2018-11-04 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308,0.000,308
9649,2018-11-05 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309,0.000,309
9650,2018-11-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310,0.000,310
9651,2018-11-07 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311,0.000,311
9652,2018-11-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312,0.000,312
9653,2018-11-09 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,313,0.000,313
9654,2018-11-10 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,314,0.000,314
9655,2018-11-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315,0.000,315
9656,2018-11-12 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316,0.000,316
9657,2018-11-13 17:00:00,3.908000,0.556500,0.448500,32.255000,2.647000,276.500000,4.025000,275.350000,317,3.302,317
9658,2018-11-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318,0.000,318
9659,2018-11-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319,0.000,319
9660,2018-11-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320,0.000,320
9661,2018-11-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321,0.000,321
9662,2018-11-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322,0.000,322
9663,2018-11-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323,0.000,323
9664,2018-11-20 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324,0.000,324
9665,2018-11-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325,0.000,325
9666,2018-11-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326,0.000,326
9667,2018-11-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327,0.000,327
9668,2018-11-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328,0.000,328
9669,2018-11-25 17:00:00,2.108500,0.743000,0.538000,0.000000,6.467000,337.250000,12.125000,330.900000,329,0.508,329

In [121]:
#is_raining = new_df['pp'] > 0
#new_df = new_df[is_raining]
new_df.pp = new_df.pp / 25.4
new_df['key_0'] = pd.to_datetime(new_df.key_0, errors='coerce')
new_df['key_0'] = new_df.key_0.dt.date
stuff = ['j_day_x','j_day_y']
new_df.drop(stuff,axis=1,inplace=True)
new_df

,key_0,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,pp
0,1992-06-05,15.440000,0.936667,1.641333,-0.005667,1.094667,281.733333,0.009000,NaN,0.090000
1,1992-06-06,15.535000,0.859500,1.516000,-0.011500,1.553000,282.150000,0.009000,NaN,0.020000
2,1992-06-07,16.188000,0.763000,1.398000,0.071200,4.279200,282.240000,0.006800,NaN,0.090000
3,1992-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,1992-06-09,14.284286,0.932048,1.511000,6.708000,2.794810,306.009524,0.006857,NaN,0.560000
5,1992-06-10,17.462222,0.748222,1.442889,22.146000,1.745333,318.688889,0.003222,NaN,0.090000
6,1992-06-11,19.910000,0.717000,1.610000,19.128000,1.179667,296.366667,0.003333,NaN,0.030000
7,1992-06-12,17.587500,0.863000,1.727250,20.430500,2.940500,304.025000,0.004250,NaN,0.040000
8,1992-06-13,18.360000,0.849000,1.773500,6.640500,2.406000,298.200000,0.000000,NaN,0.020000
9,1992-06-14,25.860000,0.572500,1.898500,30.559500,2.867000,305.900000,0.000000,NaN,0.020000
10,1992-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
11,1992-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
12,1992-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
13,1992-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
14,1992-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
15,1992-06-20,21.570000,0.767333,1.972667,0.719000,3.617333,287.966667,0.006000,NaN,0.040000
16,1992-06-21,16.594000,0.877200,1.655000,0.028600,2.821600,284.880000,0.008600,NaN,0.110000
17,1992-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
18,1992-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
19,1992-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20,1992-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
21,1992-06-26,15.473846,0.971077,1.705231,1.046231,1.292769,283.469231,0.007846,NaN,0.360000
22,1992-06-27,17.480000,0.755500,1.503500,0.027000,3.914500,286.400000,0.008500,NaN,0.220000
23,1992-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
24,1992-06-29,18.990000,0.829333,1.746000,1.035333,2.628333,291.033333,0.008667,NaN,0.629921
25,1992-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
26,1992-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
27,1992-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
28,1992-07-03,17.580000,0.795000,1.583500,8.810000,2.400000,285.100000,0.005000,NaN,0.250000
29,1992-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...
9640,2018-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9641,2018-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9642,2018-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9643,2018-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9644,2018-10-31,2.503000,0.941929,0.688571,3.106071,1.650429,119.977143,3.323214,119.421071,0.330000
9645,2018-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9646,2018-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9647,2018-11-03,8.210000,0.735000,0.799000,3.230000,4.372000,337.600000,7.625000,5.435000,0.010000
9648,2018-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9649,2018-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9650,2018-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9651,2018-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9652,2018-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9653,2018-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9654,2018-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9655,2018-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9656,2018-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9657,2018-11-13,3.908000,0.556500,0.448500,32.255000,2.647000,276.500000,4.025000,275.350000,0.130000
9658,2018-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9659,2018-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9660,2018-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9661,2018-11-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9662,2018-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9663,2018-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9664,2018-11-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9665,2018-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9666,2018-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9667,2018-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9668,2018-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
9669,2018-11-25,2.108500,0.743000,0.538000,0.000000,6.467000,337.250000,12.125000,330.900000,0.020000

In [122]:
urllib.request.urlretrieve(
    'http://data.rcc-acis.org/StnData?sid=057167&sdate=1992-06-04&edate=2018-12-31&elems=pcpn&output=csv',
    filename=coop_csv)
coop_df = pd.read_csv(coop_csv)
coop_df = coop_df.reset_index()
coop_df = coop_df.replace('M', np.nan, regex=True)
coop_df = coop_df.replace('T',0.005, regex=True)
coop_df.columns = ['date','precip']
coop_df['date'] = pd.to_datetime(coop_df.date)
coop_df.drop(coop_df.head(start).index,inplace=True)
coop_df.drop(coop_df.tail(end).index,inplace=True)

In [123]:
newest_df = new_df.merge(coop_df,left_index=True,right_index=True)
stuff = ['date']
newest_df = newest_df.drop(stuff,axis=1)
newest_df.columns = ['date','tmean','rh','vp','sr','ws','wind_vec',
                     'gust','gustdir','coag_pp','coop_pp']

In [145]:
newest_df.coag_pp = newest_df.coag_pp.astype(float)
newest_df.coop_pp = newest_df.coop_pp.astype(float)
dat_newnew = newest_df[(newest_df.coag_pp > 0)]
dat_newnew['diff'] = dat_newnew.coag_pp - dat_newnew.coop_pp
dat_newnew

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,date,tmean,rh,vp,sr,ws,wind_vec,gust,gustdir,coag_pp,coop_pp,diff
0,1992-07-02,13.980000,0.830500,NaN,NaN,5.304500,185.645000,NaN,NaN,0.393701,0.000,0.393701
5,1992-07-07,22.280000,0.850000,NaN,0.104400,4.164000,168.800000,NaN,NaN,0.039370,0.000,0.039370
10,1992-07-12,17.330000,0.897000,NaN,0.574200,4.042500,181.580000,NaN,NaN,0.118110,0.000,0.118110
11,1992-07-13,19.160000,0.904000,NaN,3.139200,2.963000,116.600000,NaN,NaN,0.039370,0.260,-0.220630
14,1992-07-16,15.645000,0.892500,NaN,NaN,5.010000,165.150000,NaN,NaN,0.314961,0.590,-0.275039
18,1992-07-20,19.130000,0.780000,NaN,NaN,5.314000,43.560000,NaN,NaN,0.118110,0.005,0.113110
19,1992-07-21,15.200000,0.935500,NaN,0.363600,3.877500,126.400000,NaN,NaN,0.393701,0.460,-0.066299
22,1992-07-24,18.230000,0.888000,NaN,0.468000,8.940000,182.300000,NaN,NaN,0.433071,0.005,0.428071
33,1992-08-04,17.430000,0.898000,NaN,0.680400,4.630000,293.600000,NaN,NaN,0.157480,0.040,0.117480
39,1992-08-10,19.510000,0.870000,NaN,NaN,3.552000,350.700000,NaN,NaN,0.039370,0.000,0.039370
41,1992-08-12,14.290000,0.899000,NaN,0.468000,2.954000,45.960000,NaN,NaN,0.354331,0.030,0.324331
46,1992-08-17,16.475000,0.926500,NaN,NaN,4.209250,41.332500,NaN,NaN,0.472441,0.020,0.452441
53,1992-08-24,12.485714,0.932905,NaN,NaN,4.277952,65.265905,NaN,NaN,1.889764,0.830,1.059764
54,1992-08-25,9.738333,0.938333,NaN,NaN,4.397000,189.892333,NaN,NaN,0.708661,0.380,0.328661
61,1992-09-01,16.510000,0.909000,NaN,0.599400,6.014500,143.950000,NaN,NaN,0.157480,0.005,0.152480
97,1992-10-07,3.569000,0.945375,NaN,NaN,6.790375,238.112500,NaN,NaN,0.708661,0.190,0.518661
142,1992-11-21,0.805000,0.774000,NaN,NaN,4.068000,319.100000,NaN,NaN,0.039370,0.340,-0.300630
143,1992-11-22,-1.526500,0.747600,NaN,NaN,1.423000,219.100000,NaN,NaN,0.078740,0.000,0.078740
145,1992-11-24,-6.420000,0.837000,NaN,NaN,8.250000,347.700000,NaN,NaN,0.039370,0.010,0.029370
252,1993-03-11,-1.850000,0.876000,NaN,NaN,5.497000,141.600000,NaN,NaN,0.039370,0.060,-0.020630
254,1993-03-13,0.060000,0.485400,NaN,NaN,2.913000,247.000000,NaN,NaN,0.039370,0.000,0.039370
269,1993-03-28,4.400500,0.888000,NaN,NaN,3.874000,101.920000,NaN,NaN,0.078740,0.000,0.078740
275,1993-04-03,4.404875,0.874500,NaN,NaN,4.346250,114.293750,NaN,NaN,0.708661,1.040,-0.331339
278,1993-04-06,4.155250,0.835750,NaN,NaN,2.916500,79.657500,NaN,NaN,0.236220,0.020,0.216220
279,1993-04-07,1.488000,0.860000,NaN,NaN,3.035000,23.157500,NaN,NaN,0.118110,0.230,-0.111890
280,1993-04-08,3.168000,0.794000,NaN,NaN,7.690000,349.600000,NaN,NaN,0.039370,0.000,0.039370
285,1993-04-13,0.885000,0.867000,NaN,NaN,4.479333,138.833333,NaN,NaN,0.236220,0.005,0.231220
291,1993-04-19,4.871333,0.775533,NaN,NaN,8.106000,326.166667,NaN,NaN,0.118110,0.000,0.118110
296,1993-04-24,6.242000,0.750150,NaN,NaN,3.075000,286.500000,NaN,NaN,0.078740,NaN,NaN
302,1993-04-30,10.235000,0.766550,NaN,NaN,4.352500,164.110000,NaN,NaN,0.275591,0.000,0.275591
...,...,...,...,...,...,...,...,...,...,...,...,...
9482,2018-06-18,15.942857,0.937714,1.683000,9.969286,5.946429,161.128571,9.431571,117.070429,0.600000,0.000,0.600000
9483,2018-06-19,20.050000,0.759000,1.765000,0.806500,4.596500,67.485000,8.688500,75.925000,0.130000,0.000,0.130000
9486,2018-06-22,19.645000,0.626000,1.399500,3.027000,5.734500,268.850000,12.930000,288.200000,0.459921,0.000,0.459921
9487,2018-06-23,21.920000,0.486000,1.277000,14.620000,3.258000,120.000000,7.007000,141.600000,0.010000,0.000,0.010000
9488,2018-06-24,12.444000,0.933600,1.356000,0.521200,4.016200,33.874000,10.208200,141.380000,1.360000,0.100,1.260000
9499,2018-07-05,19.683333,0.866000,1.984667,0.006000,4.485333,230.133333,12.875667,219.830000,0.739921,0.000,0.739921
9520,2018-07-26,20.596667,0.757333,1.805333,12.534667,4.891667,112.817333,10.209000,230.733333,0.070000,0.000,0.070000
9521,2018-07-27,17.070000,0.870000,1.691000,8.530000,2.173500,185.850000,6.528500,170.270000,0.220000,0.000,0.220000
9524,2018-07-30,15.980000,0.925667,1.678000,4.345333,5.268667,159.206667,11.702333,130.836667,0.829843,0.160,0.669843
9532,2018-08-07,16.415000,0.929500,1.737500,1.216000,1.741500,149.850000,3.727000,119.200000,0.020000,0.450,-0.430000
9533,2018-08-08,16.630000,0.811500,1.531500,1.254000,4.501000,118.525000,10.528500,157.540000,0.030000,0.130,-0.100000
9543,2018-08-18,20.333333,0.780000,1.837000,2.523667,3.471000,172.926667,9.730000,275.800000,0.070000,0.190,-0.120000
9545,2018-08-20,16.290000,0.789000,1.451000,5.031000,7.225000,350.700000,11.970000,360.600000,0.010000,0.000,0.010000
9546,2018-08-21,11.910000,0.825000,1.149000,5.774000,2.610000,139.200000,5.567000,118.400000,0.010000,0.000,0.010000
9547,2018-08-22,13.620000,1.000000,1.574000,5.898000,4.235000,149.400000,6.207000,169.800000,0.030000,0.000,0.030000
9558,2018-09-02,19.380000,0.642000,1.420500,4.704000,6.092500,161.050000,13.890000,151.500000,0.030000,0.000,0.030000
9576,2018-09-20,14.786667,0.996667,1.678667,0.007333,3.494000,234.963333,6.527000,216.666667,0.050000,0.000,0.050000
9581,2018-09-25,17.005000,0.645000,1.163500,0.742000,3.144000,201.725000,8.928500,307.250000,0.150000,0.000,0.150000
9594,2018-10-08,3.687125,0.994250,0.803250,1.333625,4.370750,83.048750,6.867750,39.476250,0.430000,0.310,0.120000
9595,2018-10-09,0.752833,0.994667,0.659167,4.082167,4.016167,297.085000,6.180333,300.691667,0.100000,0.580,-0.480000
9596,2018-10-10,-0.015000,1.000000,0.622667,11.472000,3.778667,356.100000,6.047000,121.373333,0.150000,0.030,0.120000
9598,2018-10-12,14.810000,0.293000,0.492000,18.610000,3.512000,262.000000,5.887000,277.200000,0.010000,0.000,0.010000
9610,2018-10-24,9.917143,0.987571,1.205000,4.053857,3.959429,182.114286,6.069857,186.314286,0.400000,0.960,-0.560000
9611,2018-10-25,4.053000,1.000000,0.818000,0.007000,3.956000,310.300000,5.567000,313.300000,0.010000,0.000,0.010000
9622,2018-11-05,5.635000,0.809000,0.737000,0.004000,4.369000,317.600000,9.730000,311.500000,0.020000,0.000,0.020000
9625,2018-11-08,0.142667,0.822000,0.503667,18.716667,5.616667,120.824667,8.450000,351.733333,0.070000,0.000,0.070000
9635,2018-11-18,-1.256000,0.881667,0.486333,29.186667,4.937667,265.133333,6.793667,267.433333,0.060000,0.000,0.060000
9641,2018-11-24,3.227000,0.838000,0.641000,0.294000,7.640000,341.200000,13.730000,346.700000,0.010000,0.000,0.010000
9642,2018-11-25,3.106000,0.872000,0.665000,0.033000,5.170000,358.800000,10.210000,1.552000,0.010000,0.000,0.010000
9649,2018-12-02,-1.478000,0.904000,0.495000,17.580000,3.881000,334.900000,5.727000,318.500000,0.010000,0.000,0.010000