In [1]:
import os
import urllib
import pandas as pd
import numpy as np

In [2]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC'
os.chdir(path)

csv = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\csv.csv'
f = open(csv,'w+')

In [19]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=daily&sids=akr02&sdate=1992-07-01&edate=2018-12-31&elems=pp',
    filename=csv)
df = pd.read_csv(csv)
df = df.reset_index()
df.columns = ['station','date','pp']
df.drop(df.tail(1).index,inplace=True)
df['date'] = pd.to_datetime(df.date)
df['julian'] = df.date.dt.strftime('%j')
df['new_julian'] = df.julian.astype(int)
df['leap_year'] = df['date'].dt.is_leap_year
df = df[~df.index.astype(str).str.endswith('02-29')]  
n=0
for index,rows in df.iterrows():
    if df.leap_year[n] == True and df.new_julian[n] > 60:
        df.new_julian[n] = df.new_julian[n] - 1
    n=n+1
df

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

     station       date    pp julian  new_julian  leap_year
0      akr02 1992-07-01   0.0    183         182       True
1      akr02 1992-07-02  10.0    184         183       True
2      akr02 1992-07-03   0.0    185         184       True
3      akr02 1992-07-04   0.0    186         185       True
4      akr02 1992-07-05   0.0    187         186       True
...      ...        ...   ...    ...         ...        ...
7445   akr02 2018-12-27   0.0    361         361      False
7446   akr02 2018-12-28   0.0    362         362      False
7447   akr02 2018-12-29   0.0    363         363      False
7448   akr02 2018-12-30   0.0    364         364      False
7449   akr02 2018-12-31   0.0    365         365      False

[7450 rows x 6 columns]