In [1]:
import os
import urllib
import pandas as pd
import numpy as np

In [2]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC'
os.chdir(path)

csv = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\csv.csv'
f = open(csv,'w+')

In [22]:
urllib.request.urlretrieve(
    'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=daily&sids=akr02&sdate=1992-07-01&edate=2018-12-31&elems=tave,tmax,tmin',
    filename=csv)

df = pd.read_csv(csv)
df = df.reset_index()
df.columns = ['station','date','tave','tmax','tmin']
df['date'] = pd.to_datetime(df.date)
df.drop(df.tail(1).index, inplace=True)
df.tave = df.tave.astype(float)
df.tmin = df.tmin.astype(float)
df.tmax = df.tmax.astype(float)
print(df)
f=0
nulls = 0
for index,rows in df.iterrows():
    if(pd.isnull(df['tave'][f])):
        nulls = nulls+1
    f=f+1
print('There are ' + str(nulls) + ' missing average temperature observations in the dataset')
h=0
nulls=0
for index,rows in df.iterrows():
    if(pd.isnull(df['tmax'][h])):
        nulls=nulls+1
    h=h+1
print('There are ' + str(nulls) + ' missing maximum temperature observations in the dataset')
i=0
nulls=0
for index,rows in df.iterrows():
    if(pd.isnull(df['tmin'][i])):
        nulls = nulls + 1
    i=i+1
print('There are ' + str(nulls) + ' missing minimum temperature observations in the dataset')
length = len(df.index)

r = pd.date_range(start='1992-07-01',end='2018-12-31',freq='D')

nulls = r - length
print('There are ' + str(nulls) + 'entirely missing observations in the dataset')
df = df.set_index('date').reindex(r,copy=False).rename_axis('date')
print(df)
j=0
replaced = 0
for index,rows in df.iterrows():
    while(pd.isnull(df['tave'][j])) and(pd.notnull(df['tmax'][j])) and(pd.notnull(df['tmin'][j])):
        replaced = replaced + 1
        df.tave = (df.tmin + df.tmax) / 2
    j=j+1
print(str(replaced) + ' missing average temperature observations were replaced but not removed.')
length = len(df.index)
print('Currently the data set contains ' + str(length) + ' observations')
print()
df = df.dropna()
new_length = len(df.index)
null_observations = length - new_length
print(str(null_observations) + ' null observations were removed from the the data set' + ' now the dataset contains ' + str(new_length) + ' observations.')
print(df)

     station       date    tave    tmax    tmin
0      akr02 1992-07-01     NaN  21.130  11.950
1      akr02 1992-07-02     NaN  20.660   8.420
2      akr02 1992-07-03     NaN  28.790   8.310
3      akr02 1992-07-04     NaN  33.610  14.590
4      akr02 1992-07-05     NaN  26.370  13.380
...      ...        ...     ...     ...     ...
7445   akr02 2018-12-27  -5.925  -3.330  -9.050
7446   akr02 2018-12-28 -10.570  -5.084 -15.570
7447   akr02 2018-12-29  -7.332   2.566 -15.700
7448   akr02 2018-12-30   1.706  11.880  -6.285
7449   akr02 2018-12-31  -9.910  -0.652 -16.510

[7450 rows x 5 columns]
There are 5805 missing average temperature observations in the dataset
There are 1 missing maximum temperature observations in the dataset
There are 5 missing minimum temperature observations in the dataset
There are DatetimeIndex(['1972-02-07', '1972-02-08', '1972-02-09', '1972-02-10',
               '1972-02-11', '1972-02-12', '1972-02-13', '1972-02-14',
               '1972-02-15', '1972-02-16',
               ...
               '1998-07-30', '1998-07-31', '1998-08-01', '1998-08-02',
               '1998-08-03', '1998-08-04', '1998-08-05', '1998-08-06',
               '1998-08-07', '1998-08-08'],
              dtype='datetime64[ns]', length=9680, freq='D')entirely missing observations in the dataset
           station    tave    tmax    tmin
date
1992-07-01   akr02     NaN  21.130  11.950
1992-07-02   akr02     NaN  20.660   8.420
1992-07-03   akr02     NaN  28.790   8.310
1992-07-04   akr02     NaN  33.610  14.590
1992-07-05   akr02     NaN  26.370  13.380
...            ...     ...     ...     ...
2018-12-27   akr02  -5.925  -3.330  -9.050
2018-12-28   akr02 -10.570  -5.084 -15.570
2018-12-29   akr02  -7.332   2.566 -15.700
2018-12-30   akr02   1.706  11.880  -6.285
2018-12-31   akr02  -9.910  -0.652 -16.510

[9680 rows x 4 columns]
1 missing average temperature observations were replaced but not removed.
Currently the data set contains 9680 observations

2235 null observations were removed from the the data set now the dataset contains 7445 observations.
           station     tave    tmax    tmin
date
1992-07-01   akr02  16.5400  21.130  11.950
1992-07-02   akr02  14.5400  20.660   8.420
1992-07-03   akr02  18.5500  28.790   8.310
1992-07-04   akr02  24.1000  33.610  14.590
1992-07-05   akr02  19.8750  26.370  13.380
...            ...      ...     ...     ...
2018-12-27   akr02  -6.1900  -3.330  -9.050
2018-12-28   akr02 -10.3270  -5.084 -15.570
2018-12-29   akr02  -6.5670   2.566 -15.700
2018-12-30   akr02   2.7975  11.880  -6.285
2018-12-31   akr02  -8.5810  -0.652 -16.510

[7445 rows x 4 columns]