In [9]:
import os
import urllib.request
import pandas as pd
from datetime import datetime,timedelta

In [10]:
path = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC"
os.chdir(path)

hourlyST = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\tempfiles\hourlyST.csv"
fmST = r"C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\tempfiles\fmST.csv"

# Creates CSV files using the above defined pathways and then either truncates the existing file to zero length
# (effectively wiping it clean) or creates a new file
f = open(fmcsv, "w+")
d = open(dycsv, "w+")

In [12]:
stationlist = ['akr02', 'alt01', 'avn01', 'bla01', 'bnv01', 'brg01', 'brk01', 'brl01', 'brl02', 'brl03', 'cbl01',
               'cbn01', 'ckp01', 'clk01','cnn01', 'cow01', 'ctr01','ctr01','ctz01','dlt01','drg01','dvc01','eac01',
               'ekt01', 'ftc01','ftc03', 'ftl01', 'fwl01', 'gby01', 'gjc01', 'gly04', 'gun01','gyp01','heb01','hly01',
               'hly02','hne01','hot01','hrt01','hxt01','hyd01','hyk02','idl01','ign01','ilf01','jfn01','kln01','krk01',
               'krm01','ksy01','ksy02','lam01','lam03','lam04','lar01','lcn01','ljr01','ljt01','lsl01','mcl01','mkr01',
               'mnc01','mtr01','nwd01','orm01','oth01','oth02','pai01','pan01','pbl01','pgs01','pkh01',
               'pkr01','pnr01','rfd01','san01','sbt01','scm01','sld01','slt01','stg01','stn01','twc01','wcf01','wfd01',
               'wls01','wry02','yjk01','yuc01','yum02']

In [19]:
today = datetime.now().strftime("%Y-%m-%d")
yesterday = datetime.strftime(datetime.now() - timedelta(1), "%Y-%m-%d")
urllib.request.urlretrieve(
        'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=hourly&sids=bnv01&sdate=' + str(yesterday) + 
        '&edate=' + str(today) + '&elems=st5,st15', filename=hourlyST)
hdf = pd.read_csv(hourlyST)
hdf = hdf.reset_index()
hdf.columns.values[0] = 'Station'
hdf.columns.values[1] = 'Datetime'
hdf.columns.values[2] = 'ST5'
hdf.columns.values[3] = 'ST15'
hdf = hdf.drop(['Station'],axis=1)
hdf

               Datetime    ST5   ST15
0   2019-08-19 00:00:00  14.90  14.91
1   2019-08-19 01:00:00  14.52  14.79
2   2019-08-19 02:00:00  14.21  14.66
3   2019-08-19 03:00:00  13.93  14.53
4   2019-08-19 04:00:00  13.63  14.40
5   2019-08-19 05:00:00  13.34  14.26
6   2019-08-19 06:00:00  13.08  14.13
7   2019-08-19 07:00:00  12.87  13.99
8   2019-08-19 08:00:00  12.75  13.87
9   2019-08-19 09:00:00  12.76  13.75
10  2019-08-19 10:00:00  13.04  13.66
11  2019-08-19 11:00:00  13.58  13.61
12  2019-08-19 12:00:00  14.35  13.64
13  2019-08-19 13:00:00  15.31  13.75
14  2019-08-19 14:00:00  16.35  13.93
15  2019-08-19 15:00:00  17.21  14.19
16  2019-08-19 16:00:00  17.67  14.48
17  2019-08-19 17:00:00  17.85  14.75
18  2019-08-19 18:00:00  17.79  14.98
19  2019-08-19 19:00:00  17.51  15.15
20  2019-08-19 20:00:00  17.06  15.26
21  2019-08-19 21:00:00  16.54  15.31
22  2019-08-19 22:00:00  16.07  15.28
23  2019-08-19 23:00:00  15.62  15.21
24  2019-08-20 00:00:00  15.20  15.11
25                  NaN    NaN    NaN

In [20]:
if hdf.ST5.min() < 0.0:
    print('5cm Soil Temps are reporting impossibly low at BNV01')
elif hdf.ST5.max() > 20.0:
    print('5cm Soil Temps are reporting impossibly high at BNV01')
else:
    print('5cm Soil Temps at BNV01 are looking pretty pretty good!')
    
if hdf.ST15.min() < 0.0:
    print('15cm Soil Temps are reporting impossibly low at BNV01')
elif hdf.ST15.max() > 20.0:
    print('15cm Soil Temps are reporting impossibly low at BNV01')
else:
    print('15cm Soil Temps at BNV01 are looking pretty pretty good!')

Soil Temps at BNV01 Are Looking Pretty Pretty Good!

In [ ]:
def FiveMinSoilTempCheck(self):
    urllib.request.urlretrieve(
        'http://coagmet.colostate.edu/cgi-bin/web_services.pl?type=five_minute&sids=' + str(self) + '&sdate=' + str(yesterday)
        '&edate=' + str(today) + '&elems=st5,st15',filename=fmST)