In [1]:
import os
import urllib
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

In [7]:
path = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\stdev'
os.chdir(path)

csv = r'C:\Users\student\Documents\Alistair CoAgMET Projects\Pythonstuff\QC\stdev\test.csv'

urllib.request.urlretrieve('http://data.rcc-acis.org/StnData?sid=050109&sdate=1992-07-01&edate=2018-12-31&elems=avgt&output=csv', filename=csv)
df = pd.read_csv(csv)
df = df.reset_index()
df.columns.values[0] = 'date'
df.columns.values[1] = 'avgt'
df['date'] = pd.to_datetime(df.date)
df['julian'] = df.date.dt.strftime('%j')
df = df.replace('M', np.nan, regex=True)
df.avgt = df.avgt.astype(float)
normals = df.groupby(['julian']).std().reset_index()
normals

    julian       avgt
0      001  15.023371
1      002  11.381637
2      003  10.545852
3      004  11.325142
4      005  11.656114
..     ...        ...
361    362   8.674654
362    363  10.394766
363    364  10.149179
364    365  13.092374
365    366  13.366625

[366 rows x 2 columns]